.chatHistory1 {
  position: relative;
  line-height: 27px;
  font-weight: 500;
}
.historyList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
}
.validationPeriodOfNda {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-mini);
}
.validationPeriodOfContainer1 {
  width: 100%;
}
.validationPeriodOfContainer {
  margin-bottom: -4px;
  height: 31px;
  width: 202px;
  position: relative;
  line-height: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.draftItem,
.frameIcon {
  overflow: hidden;
  flex-shrink: 0;
}
.frameIcon {
  margin-bottom: -1px;
  height: 22px;
  width: 20px;
  position: relative;
}
.draftItem {
  align-self: stretch;
  height: 20px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-2xs) 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.summarizeTheLegalDraft {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-mini);
}
.summarizeTheLegalContainer1 {
  width: 100%;
}
.summarizeTheLegalContainer {
  margin-bottom: -4px;
  height: 31px;
  width: 202px;
  position: relative;
  line-height: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frameIcon1 {
  margin-bottom: -1px;
  height: 22px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.summarizeTheLegalDraftParent {
  align-self: stretch;
  height: 20px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-2xs) 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.analyzeRisksOf {
  margin-bottom: -4px;
  height: 31px;
  position: relative;
  line-height: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.frameIcon2 {
  margin-bottom: -1px;
  height: 22px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.analyzeRisksOfLeaseAgreemeParent {
  align-self: stretch;
  height: 20px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-2xs) 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.riskMitigationOfNda {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-mini);
}
.riskMitigationOfContainer1 {
  width: 100%;
}
.riskMitigationOfContainer {
  margin-bottom: -4px;
  height: 31px;
  width: 202px;
  position: relative;
  line-height: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frameIcon3 {
  margin-bottom: -1px;
  height: 22px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.riskMitigationOfNdaParent {
  align-self: stretch;
  height: 20px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-2xs) 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.powerPurchaseAgreementAnaly {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-mini);
}
.powerPurchaseAgreementContainer {
  margin-bottom: -4px;
  height: 31px;
  position: relative;
  line-height: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.frameIcon4 {
  margin-bottom: -1px;
  height: 22px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.powerPurchaseAgreementAnalyParent {
  align-self: stretch;
  height: 20px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-2xs) 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.smartCounselForMultiplePpa {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-mini);
}
.smartCounselForContainer1 {
  width: 100%;
}
.smartCounselForContainer {
  margin-bottom: -4px;
  height: 31px;
  width: 202px;
  position: relative;
  line-height: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frameIcon5 {
  margin-bottom: -1px;
  height: 22px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.smartCounselForMultiplePpaParent {
  align-self: stretch;
  height: 20px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-2xs) 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.copyrightClaimingCompanies {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-mini);
}
.copyrightClaimingCompaniesContainer1 {
  width: 100%;
}
.copyrightClaimingCompaniesContainer {
  margin-bottom: -4px;
  height: 31px;
  width: 202px;
  position: relative;
  line-height: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frameIcon6 {
  margin-bottom: -1px;
  height: 22px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.copyrightClaimingCompaniesParent,
.draftList {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.copyrightClaimingCompaniesParent {
  align-self: stretch;
  height: 20px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-2xs) 0 var(--padding-smi);
  gap: var(--gap-xl);
}
.draftList {
  height: 201px;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-8xl);
  gap: var(--gap-3xs-8);
  min-width: 298px;
  max-width: 100%;
}
.emptyDraft,
.noDraftContent {
  border-radius: var(--br-8xs);
  overflow: hidden;
}
.noDraftContent {
  height: 30px;
  width: 8px;
  position: relative;
  background-color: var(--color-gray-300);
  flex-shrink: 0;
}
.emptyDraft {
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 var(--padding-139xl);
}
.chatHistory,
.draftHistory,
.recentUploads {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.draftHistory {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-16xl);
  font-size: var(--font-size-2xs);
}
.chatHistory,
.recentUploads {
  align-items: flex-start;
}
.chatHistory {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xs) 0 var(--padding-base) var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.recentUploads {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-10xl);
  text-align: left;
  font-size: var(--paragraph-3-regular-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 925px) {
  .recentUploads {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .draftHistory {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .emptyDraft {
    width: 100%;
    height: 8px;
  }
  .draftHistory {
    flex-wrap: wrap;
  }
}
